{% extends "base.html" %}

{% block content %}

{% csrf_token %}

<html>
  <head>
    <meta charset="UTF-8">
    <title>Add a New Gun</title>
    
  </head>
    <body>
          <div id="app">
                  <form>
                      <div class="form-group">
                        <label for="title">Gun Brand</label>
                        <textarea class="form-control" id="title" v-model="airsoftpartlist.title"></textarea><br>
                        <label for="modeltype" name="modeltype">Model Type</label>
                        <select class="form-control" name="modeltype" v-model="airsoftpartlist.modeltype">
                          <option>RIFLE</option>
                          <option>PISTOL</option>
                          <option>SHOTGUN</option>
                          <option>SMG</option>
                          <option>MACHINGEGUN</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" v-model="airsoftpartlist.text" rows="3"></textarea>
                      </div>

                      



                    <div class="form-row">
                      <div class="col">
                        <h2><label for="internalparts">INTERNAL PARTS</label></h2><br>
                        <input type="text" placeholder="Air Nozzle" v-model="airsoftpartlist.airnozzle"><br>
                        <input type="text" placeholder="Anti Reversal Latches" v-model="airsoftpartlist.anti_reversal_latches"><br>
                        <input type="text" placeholder="Bushing Bearings" v-model="airsoftpartlist.bushing_bearings"><br>
                        <input type="text" placeholder="Cut off levers" v-model="airsoftpartlist.cut_off_levers"><br>
                        <input type="text" placeholder="Cylinder Heads" v-model="airsoftpartlist.cylinder_heads"><br>
                        <input type="text" placeholder="Cylinder Tune up" v-model="airsoftpartlist.cylinder_tuneup"><br>
                        <input type="text" placeholder="Cylinder" v-model="airsoftpartlist.cylinder"><br>
                        <input type="text" placeholder="Fuse" v-model="airsoftpartlist.fuse"><br>
                        <input type="text" placeholder="Gearbox" v-model="airsoftpartlist.gearbox"><br>
                        <input type="text" placeholder="Gears" v-model="airsoftpartlist.gears"><br>
                        <input type="text" placeholder="Hop Up" v-model="airsoftpartlist.hop_up"><br>
                        <input type="text" placeholder="Inner Barrels" v-model="airsoftpartlist.inner_barrels"><br>
                        <input type="text" placeholder="Mosfet" v-model="airsoftpartlist.mosfet"><br>
                        <input type="text" placeholder="Motor" v-model="airsoftpartlist.motor"><br>
                        <input type="text" placeholder="Piston Heads" v-model="airsoftpartlist.piston_heads"><br>
                        <input type="text" placeholder="Pistons" v-model="airsoftpartlist.pistons"><br>
                        <input type="text" placeholder="Selector Plate" v-model="airsoftpartlist.selector_plate"><br>
                        <input type="text" placeholder="Shims" v-model="airsoftpartlist.shims"><br>
                        <input type="text" placeholder="Spring Guides" v-model="airsoftpartlist.spring_guides"><br>
                        <input type="text" placeholder="Spring" v-model="airsoftpartlist.spring"><br>
                        <input type="text" placeholder="Tappert Plate" v-model="airsoftpartlist.tappert_plate"><br>
                        <input type="text" placeholder="Tune up kit" v-model="airsoftpartlist.tune_upkit"><br>
                        <input type="text" placeholder="Wiring Mosfet" v-model="airsoftpartlist.wiring_mosfet"><br>
                      </div>
                    

                      <div class="col">
                        <h2><label for="externalpart">EXTERNAL PARTS</label></h2><br>
                        <input type="text" placeholder="Adaptors" v-model="airsoftpartlist.adptors"><br>
                        <input type="text" placeholder="Charging Handles" v-model="airsoftpartlist.charging_handles"><br>
                        <input type="text" placeholder="Conversion Kit" v-model="airsoftpartlist.conversion_kit"><br>
                        <input type="text" placeholder="Flash Hider" v-model="airsoftpartlist.flash_hider"><br>
                        <input type="text" placeholder="Front Assembly" v-model="airsoftpartlist.front_assembly"><br>
                        <input type="text" placeholder="Gas Block" v-model="airsoftpartlist.gas_block"><br>
                        <input type="text" placeholder="Under Barrel" v-model="airsoftpartlist.under_barrel"><br>
                        <input type="text" placeholder="Hand Guard" v-model="airsoftpartlist.hand_guard"><br>
                        <input type="text" placeholder="Magzine Catch" v-model="airsoftpartlist.magzine_catch"><br>
                        <input type="text" placeholder="Receivers" v-model="airsoftpartlist.receivers"><br>
                        <input type="text" placeholder="Hand Grip" v-model="airsoftpartlist.hand_grip"><br>
                        <input type="text" placeholder="Outer Barrels" v-model="airsoftpartlist.outer_barrels"><br>
                        <input type="text" placeholder="Pins" v-model="airsoftpartlist.pins"><br>
                        <input type="text" placeholder="Rail Accessories" v-model="airsoftpartlist.rail_accessories"><br>
                        <input type="text" placeholder="Selector Switch" v-model="airsoftpartlist.selector_switch"><br>
                        <input type="text" placeholder="Rails" v-model="airsoftpartlist.rails"><br>
                        <input type="text" placeholder="Sight" v-model="airsoftpartlist.sight"><br>
                        <input type="text" placeholder="Sling Adapeters" v-model="airsoftpartlist.sling_adapeters"><br>
                        <input type="text" placeholder="Stock" v-model="airsoftpartlist.stock"><br>
                        <input type="text" placeholder="Trigger" v-model="airsoftpartlist.trigger"><br>
                        <input type="text" placeholder="Trigger Guard" v-model="airsoftpartlist.trigger_guard"><br>
                        <input type="text" placeholder="Vertical Grips" v-model="airsoftpartlist.vertical_grips"><br>
                        <input type="file" id="file" ref="my_image" v-on:change="handleFileUpload()"/>
                        <button @click.prevent="newAirsoftgun()">New Airsoft build</button>
                      </div>
                    </div>
                  </form>
                  {% comment %} <input type="file" id="file" ref="my_image" v-on:change="handleFileUpload()"/>
                  <button @click="submitFile()">Submit</button>
                 {% endcomment %}



          </div>

      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="https://unpkg.com/vue"></script>
   </body>
</html>


<script>
  let app = new Vue({
    el: '#app',
    delimiters: ['[[',']]'],
    data: {
      csrf_token: "",
      airsoftdata: [],
      author: "",
      my_image: "",
      formId: "",
      airsoftpartlist: {
          "id": "",  
          "text": "",
          "airnozzle": "",
          "anti_reversal_latches": "",
          "bushing_bearings": "",
          "cut_off_levers": "",
          "cylinder_heads": "",
          "cylinder_tuneup": "",
          "cylinder": "",
          "fuse": "",
          "gearbox": "",
          "gears": "",
          "hop_up": "",
          "inner_barrels": "",
          "mosfet": "",
          "motor": "",
          "piston_heads": "",
          "pistons": "",
          "selector_plate": "",
          "shims": "",
          "spring_guides": "",
          "spring": "",
          "tappert_plate": "",
          "tune_upkit": "",
          "wiring_mosfet": "",
          "adptors": "",
          "charging_handles": "",
          "conversion_kit": "",
          "flash_hider": "",
          "front_assembly": "",
          "gas_block": "",
          "under_barrel": "",
          "hand_guard": "",
          "magzine_catch": "",
          "receivers": "",
          "hand_grip": "",
          "outer_barrels": "",
          "pins": "",
          "rail_accessories": "",
          "rails": "",
          "selector_switch": "",
          "sight": "",
          "sling_adapeters": "",
          "stock": "",
          "trigger": "",
          "trigger_guard": "",
          "vertical_grips": "",
        },
    },
    
    methods: {


      

      newAirsoftgun() {
        console.log('helloairosft')
        axios ({
          method: "post",
          url: "http://127.0.0.1:8000/api/v1/Airsoft/",
          data: this.airsoftpartlist, 
          headers: {
            "X-CSRFTOKEN": this.csrf_token,
          }


        }).then(response => { 
            console.log(response, "this is reasponedata")
            this.formId = response.data.id
            this.airsoftpartlist = {
              "text": "",
              "airnozzle": "",
              "anti_reversal_latches": "",
              "bushing_bearings": "",
              "cut_off_levers": "",
              "cylinder_heads": "",
              "cylinder_tuneup": "",
              "cylinder": "",
              "fuse": "",
              "gearbox": "",
              "gears": "",
              "hop_up": "",
              "inner_barrels": "",
              "mosfet": "",
              "motor": "",
              "piston_heads": "",
              "pistons": "",
              "selector_plate": "",
              "shims": "",
              "spring_guides": "",
              "spring": "",
              "tappert_plate": "",
              "tune_upkit": "",
              "wiring_mosfet": "",
              "adptors": "",
              "charging_handles": "",
              "conversion_kit": "",
              "flash_hider": "",
              "front_assembly": "",
              "gas_block": "",
              "under_barrel": "",
              "hand_guard": "",
              "magzine_catch": "",
              "receivers": "",
              "hand_grip": "",
              "outer_barrels": "",
              "pins": "",
              "rail_accessories": "",
              "rails": "",
              "selector_switch": "",
              "sight": "",
              "sling_adapeters": "",
              "stock": "",
              "trigger": "",
              "trigger_guard": "",
              "vertical_grips": "",
              "id": "",
            }
          
            
          }).then(response => {
        
            let formData = new FormData();
            formData.append('my_image', this.my_image);
            console.log('>> formData >> ', formData);
            axios({
              method:"patch",
              url: "http://127.0.0.1:8000/api/v1/Airsoft/" + this.formId + '/',
              data: formData,
              headers: {
              "X-CSRFTOKEN": this.csrf_token,
              'Content-Type': 'multipart/form-data',   
              }
            }).then(response => console.log(response.data, "this is reutrn axios")) 
          })
      },

    
      handleFileUpload() {
          this.my_image = this.$refs.my_image.files[0];
          console.log('>>>> 1st element in files array >>>> ', this.my_image);
        },

    },

    mounted: function () {
      this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value;
      
    },

  });

</script>

{% endblock content %}